div{
   color: rgb(108, 50, 184);
}
h3{
   color: rgb(23, 128, 9);
}
.main-foundation p{
   color: rgb(167, 15, 15);
}
.main-foundation .main-town{
   color: rgb(84, 136, 0);
}
b{
   color: rgb(35, 54, 88);
}
#dekor{
   color: rgb(180, 0, 96);
}
.main-date{
   color: rgb(0, 255, 42);
}
.year{
   color: rgb(250, 92, 0);
}
.main-century{
   color: rgb(250, 0, 250);
}
.architecture{
   color: rgb(0, 0, 0);
}
/* p{
   color: rgb(0, 250, 237);
} */





